* {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0 20px;
    text-align: center;
    width: 90%;
    font-size: 15px;
    padding: 10px 10px;
}

.nav ul{
    background: greenyellow;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    padding:0 20px;
}

.nav ul li{
    float: left;
}

.nav ul li:hover{
    background: rgb(217, 217, 217);
}

.nav ul li:hover a{
    color: blue;
}

.nav ul li a{
    display: block;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
}